
//less fun
//btn-fun()
.btn-fun(@color; @background; @backgroundHover) {
  color: @color;
  background-color: @background;
  //border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color:@backgroundHover;
    //background-color: darken(@background, 5%);
    //border-color: darken(@border, 6%);
    //background-color: luma(@background, -2);//���ȣ���Ӧps��-8
    //border-color: luma(@border, -2);//���ȣ���Ӧps��-8
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      //border-color: @border;
    }
  }
}
